/* Global
----------------------------------------------------------------------------- */

@font-face {
  font-family: 'Fira Sans';
  src: url("FiraSansOT-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Sans';
  src: url("FiraSansOT-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Sans';
  src: url("FiraSansOT-Bold.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
}

@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fade-out {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes scale-in {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes scale-out {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}

html {
  background: #000;
  color: #fff;
  font-family: 'Fira Sans', sans-serif;
}

html,
body {
  /* Make sure the body covers the viewport. */
  height: 100%;
}

/* Remove the gap between images, videos, audio and canvas and the bottom of
their containers: h5bp.com/i/440 */
audio,
canvas,
img,
svg,
video {
    vertical-align: middle;
}

/* Utility
----------------------------------------------------------------------------- */

.ir {
  background-repeat: no-repeat;
  background-position: 0 0;
  display: block;
  text-indent: -999em;
}

.js-hide {
  display: none;
}

/* System .sys-
----------------------------------------------------------------------------- */

.sys-screen {
  overflow: hidden;
}

/* Use with .ir */
.sys-fake-keyboard {
  background-image: url(keyboard.png);
  background-size: 320px auto;
  bottom: 0;
  height: 205px;
  left: 0;
  position: absolute;
  transition: transform 200ms ease-out;
  transform: translateY(205px);
  width: 320px;
  z-index: 999;
}
.js-ready .sys-fake-keyboard {
  display: block;
}
.sys-fake-keyboard.js-activated {
  transform: translateY(0);
}

/* General class for overlays */
.sys-overlay {
  background: rgba(0, 0, 0, .5);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

/* RocketBar .rb-
----------------------------------------------------------------------------- */

.rb-rocketbar {
  background: #000;
  height: 20px;
  left: 0;
  /* Contains absolute elements */
  position: absolute;
  right: 0;
  top: 0;
  transition: height 200ms ease-out;
  z-index: 501;
}

.rb-rocketbar.js-expanded {
  height: 50px;
}

.rb-input {
  color: #fff;
}

/* Include .ir with the element. */
.rb-icons {
  background-image: url(statusbar1.png);
  background-size: auto 20px;
  height: 20px;
  opacity: 1;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity 200ms linear;
  width: 130px;
}

.rb-rocketbar.js-expanded .rb-icons,
.rb-clear {
  display: none;
}

.rb-cancel {
  height: 50px;
  line-height: 50px;
  position: absolute;
  right: 5px;
}

#rb-overlay {
  z-index: 500;
}

/* Settings drawer .set-
----------------------------------------------------------------------------- */

/* Use with .ir */
.set-settings {
  background-image: url(settings-drawer.png);
  background-size: 320px auto;
  height: 389px;
  left: 0;
  position: absolute;
  top: 20px;
  width: 320px;
  z-index: 400;
}

#set-overlay {
  z-index: 399;
}

/* Launcher homescreen .hs-
----------------------------------------------------------------------------- */

.hs-homescreen {
  background-image: url(home.png);
  background-size: 320px;
  height: 790px;
  position: absolute;
  top: 20px;
  width: 320px;
  z-index: 1;
}

/* Task manager .tm-
----------------------------------------------------------------------------- */

.tm-task-manager {
  background: #484848;
  height: 460px;
  position: absolute;
  top: 20px;
  width: 320px;
  z-index: 200;
}

/* Sheets .sh-
----------------------------------------------------------------------------- */

.sh-sheet {
  height: 460px;
  overflow: auto;
  position: absolute;
  top: 0;
  transition: 200ms transform linear;
  width: 320px;
  z-index: 300;
}

.sh-scaled {
  transform: scale(.8);
}

/* Transparent cover over sheet that is hidden when zoomed in. */
.sh-cover {
  display: none;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

/* Cover sheet when scaled (task manager mode). */
.sh-scaled > .sh-cover {
  display: block;
}

/* not-notifications .not-
----------------------------------------------------------------------------- */

.not-notifications {
  height: 480px;
  overflow: auto;
  position: absolute;
  top: 0;
  width: 320px;
  z-index: 600;
}
